.bold-text{
  font-weight: bold;
}
.bordered-text{
  border-color: gray;
  border: red solid;
}

body{
  margin-left: 8%;
  margin-right: 8%;
}
/* @media screen and (min-width : 720px) {
  body{
    margin-left: 0%;
    margin-right: 0%;
  }
} */
.horizontal-box{
  display: flex;
  flex-direction: row;
}
#logo-region{
  width: 50%;
}
#page-selection{
  margin-left: 35%;
}

nav .page-selection-btn{ 
  border: 5px hidden;
  padding-top: 10%;
  background-color: white;
  color : gray;
}
nav .page-selection-btn:active,
nav .page-selection-btn:hover {
  border-top: 2px solid blue;
  color: blue;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.input-field {
  width: 20%;
  padding: 10px;
  outline: none;
}

.icon {
  padding: 10px;
  padding-left: 5px;
  padding-right: 2px;
  background: rgb(211, 211, 211);
  color: black;
  min-width: 40px;
  text-align: center;
  border-top-left-radius   : 15px;
  border-bottom-left-radius: 15px
}

#sub-title{
  margin-bottom:0;
}

#under-title{
  margin-top : 0; 
  padding-top:5px;
  font-size: 90%;
  color: grey;
}

#submit-btn{
  background-color: rgb(0, 110, 255); 
  color: white; 
  padding: 10px 24px;
  border : none ; 
  border-top-right-radius   : 15px;
  border-bottom-right-radius: 15px
}

header, body, footer, .page-selection-btn {
    font-family: 'Raleway';
}

#spacing-div{
  margin-top: 2%;
}

.filter-container{
  border: 1px solid;
  /* border-radius: 25%; */
  margin-left: 2.5%;
  padding-right:2px;
}

.filter-container:hover {
  border-top: 1px solid blue;
  color: blue;
}

.flex-wrap{
  flex-wrap: wrap
}

.filter-icon{
  color: blue;
  background: lightblue;
  margin-right: 2.5px;
}

.circled{ 
  /* border-radius: 50%; */
  padding: 20px;
}
.middled{
  text-align: center;
  vertical-align: middle;
}
.aligned{
  text-align: center;
}
.paddled{
  padding-left: 10px;
  padding-right: 10px;
}
