/*mobile*/
@media screen and (max-width : 768px) {
  .big-text{
    font-size: 110%;
  }
  body{
    margin-left: 1%;
    margin-right: 1%;
  }
  .header-horizontal-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .logo-booki{
    background-image: url("./images/logo/Booki.png");
    width: 172px;
    height:90px;
    background-repeat: no-repeat;
    margin-left: 40px;
  }

  .input-field-resp{
    width:100%;
    padding: 10px;
    outline: none;
  }
  .research-text{
    display:none
  }
  .research-icon{
    display: inline-block;
  }

  .box-resp{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .hosts-container-resp{
    width: 100%;
    border-radius:30px;
  }
  .hosting-cards-container-resp{
    /* horizontal-box flex-wrap row-gapped column-gapped side-paddled */
    flex-direction: column;
    flex-wrap:wrap;
    row-gap: 10px;
  }

  .host-card-img-resp{ 
    width: 100%;
    height:140px;
    border-radius : 20px 20px 0 0  ; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  .host-card-resp{
    padding : 10px;
    padding-bottom: 1px;
    width: 100%; 
    height: 200px;
    background-color: white;
  }

  .fit-container-resp{    /*fix*/
    margin-top: -6px ;
    margin-left: -6px;
    width: 106%;
    max-height: 60%;
    border-radius : 30px ;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .paddled-resp{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .most-popular-container-resp{
    width: 100%;
    height : auto;
    border-radius:30px;
    background-color: #F2F2F2;
  }

  #activities-container-box-resp{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap
  }

  .big-activity-card-resp{
    box-shadow: -2px -3px 10px  gray;    
    width: 100%; 
    height: 200px ;
    border-radius: 30px;
}
  .medium-activity-card-resp{
    box-shadow: -2px -3px 10px  gray;
    width: 100%; 
    height: 200px ;
    border-radius: 30px;
  }
  .small-activity-card-resp{
    box-shadow: -2px -3px 10px    gray;
    width: 100%; 
    height: 200px ;
    border-radius: 30px;
  }

  .inner-activities-container-resp{
  width: 100%;
  height: auto;
  }

  .big-activity-card-img-resp{ 
    width: 100%;
    height:175px;
    border-radius : 20px 20px 0 0  ; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  .medium-activity-card-img-resp{ 
    width: 100%;
    height:80%;
    border-radius : 20px 20px 0 0  ;
    background-repeat: no-repeat;
    
  }
  .small-activity-card-img-resp{ 
    width: 100%;
    height:80%;
    border-radius : 20px 20px 0 0  ; 
    background-repeat: no-repeat;
    background-size: cover;
  }

  #footer-container-resp{
    display: flex;
    flex-direction: column;
  }
  .footer-box-resp{
    display: flex;
    flex-direction: column;
  }

  .footer-about-resp{
    width: 25%;
    height: 200px;
    background-color: #F2F2F2;
  }
  .footer-our-hosts-resp{
    width: 25%;
    height: 200px;
    background-color: #F2F2F2;
  }
  .footer-help-resp{
    width: 25%;
    height:  200px;
    background-color: #F2F2F2;  
  }

}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*tablette*/
@media (min-width:768px) and(max-width:992) {
  .big-text{
    font-size: 110%;
  }
  .header-horizontal-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  body{
    margin-left: 8%;
    margin-right: 8%;
  }
  .logo-booki{
    background-image: url("./images/logo/Booki.png");
    width: 172px;
    height:90px;
    background-repeat: no-repeat;
  }

  .input-field-resp {
    width:20%;
    padding: 10px;
    outline: none;
  }
  .research-text{
    display:inline-block
  }
  .research-icon{
    display: none;
  }

  .box-resp{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .hosts-container-resp{
    width: 66%;
    border-radius:   30px;
    background-color: #F2F2F2
  }

  .hosting-cards-container-resp{
    /* horizontal-box flex-wrap row-gapped column-gapped side-paddled */
    flex-direction: row;
    flex-wrap:wrap;
    column-gap: 10px;
  }
  .host-card-resp{
    padding : 10px;
    padding-bottom: 1px;
    width: 28%; 
    height: 200px;
    background-color: white;
    border-radius: 30px;
  }
  .paddled-resp{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .most-popular-container-resp{
    width: 33%;
    height : auto;
    border-radius:30px;
    background-color: #F2F2F2;
  }

  .activities-container-box-resp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
  }
  
  #activities-container-box-resp{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-wrap: wrap
  }

  .big-activity-card-resp{
    box-shadow: -2px -3px 10px  gray;    
    width: 22%; 
    height: auto;
    border-radius: 30px;
  }
  .medium-activity-card-resp{
    box-shadow: -2px -3px 10px  gray;
    width: auto; 
    height: 54% ;
    border-radius: 30px;
  }
  .small-activity-card-resp{  
    box-shadow: -2px -3px 10px    gray;
    width: auto; 
    height: 41% ;
    border-radius: 30px;
  }
  .inner-activities-container-resp{
    width: 25%;
    height: 400px ;
    }

  .activity-card-background-img-resp{
    width: 100%;
    height:200px;
    border-radius : 20px 20px 0 0  ; 
  }
  .big-activity-card-img-resp{ 
    width: 100%;
    height:92%;
    border-radius : 20px 20px 0 0  ; 
  }
  .medium-activity-card-img-resp{ 
    width: 100%;
    height:85%;
    border-radius : 20px 20px 0 0  ; 
  }
  .small-activity-card-img-resp{ 
    width: 100%;
    height:80%;
    border-radius : 20px 20px 0 0  ; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  #footer-container-resp{
    display: flex;
    flex-direction: row;
    margin: 0 -9.5%;
  }
  .footer-box-resp{
    display: flex;
    flex-direction: row;
  }
  .footer-about-resp{
    width: 25%;
    height: 200px;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
  }
  .footer-our-hosts-resp{
    width: 25%;
    height: 200px;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
  }
  .footer-help-resp{
    width: 25%;
    height:  200px;
    background-color: #F2F2F2;  
    text-align: center;
    vertical-align: middle;
  }
}
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*desktop*/
@media screen and (min-width :992px) {
  .header-horizontal-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .big-text{
    font-size: 125%;
  }
  body{
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .logo-booki{
    background-image: url("./images/logo/Booki.png");
    width: 172px;
    height:90px;
    background-repeat: no-repeat;
  }
  
  .input-field-resp {
    width:20%;
    padding: 10px;
    outline: none;
  }
  
  .research-text{
    display:inline-block
  }
  .research-icon{
    display: none;
  }

  .box-resp{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .hosts-container-resp{
    width: 66%;
    border-radius:30px;
    background-color: #F2F2F2
  }
  .hosting-cards-container-resp{
    flex-direction: row;
    flex-wrap:wrap;
    column-gap: 10px;
  }
  .host-card-resp{
    padding : 10px;
    padding-bottom: 1px;
    width: 28%; 
    height: 200px;
    background-color: white;
    border-radius: 30px;
  }
  .paddled-resp{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .most-popular-container-resp{
    width: 33%;
    height : auto;
    border-radius:30px;
    background-color: #F2F2F2;
  }

  .activities-container-box-resp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
  }
  
  #activities-container-box-resp{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap
  }

  .big-activity-card-resp{
    box-shadow: -2px -3px 10px  gray;    
    width: 22%; 
    height: auto ;
    border-radius: 30px;
  }
  .medium-activity-card-resp{
    box-shadow: -2px -3px 10px  gray;
    width: auto; 
    height: 54% ;
    border-radius: 30px;
  }
  .small-activity-card-resp{
    box-shadow: -2px -3px 10px    gray;
    width: auto; 
    height: 41% ;
    border-radius: 30px;
  }

  .inner-activities-container-resp{
    width: 25%;
    height: 400px ;
    }

  .activity-card-background-img-resp{
    width: 100%;
    height:90%;
    border-radius : 20px 20px 0 0  ; 
  }
  .big-activity-card-img-resp{ 
    width: 100%;
    height:92%;
    border-radius : 20px 20px 0 0  ; 
  }
  .medium-activity-card-img-resp{ 
    width: 100%;
    height:85%;
    border-radius : 20px 20px 0 0  ; 
  }
  .small-activity-card-img-resp{ 
    width: 100%;
    height:80%;
    border-radius : 20px 20px 0 0  ; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  #footer-container-resp{
    margin: 0 -9.5%;
  }
  .footer-box-resp{
    display: flex;
    flex-direction: row;
  }
  .footer-about-resp{
    width: 25%;
    height: 200px;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
  }
  .footer-our-hosts-resp{
    width: 25%;
    height: 200px;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: middle;
  }
  .footer-help-resp{
    width: 25%;
    height:  200px;
    background-color: #F2F2F2;  
    text-align: center;
    vertical-align: middle;
  }
}


.activity-img-1{
  background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg") ;
}
.activity-img-2{
  background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg"); 
  background-position:  top -50px right 0px;
  background-repeat: no-repeat;
}
.activity-img-3{
  background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-position:  top -50px right 0px;
  background-repeat: no-repeat;
}
.activity-img-4{
  background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
.activity-img-5{
  background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-position:  top -50px right 0px;
  background-repeat: no-repeat;
}
.activity-img-6{
  background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-position: top -200px right 0px;
  background-repeat: no-repeat;
}

.host-img-1{
  background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg") ;
  background-position: top -100px right 0px;
}
.host-img-2{
  background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.host-img-3{
  background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.host-img-4{
  background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}
.host-img-5{
  background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}
.host-img-6{
  background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
.host-img-7{
  background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}
.host-img-8{
  background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.host-img-9{
  background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}


.bold-text{
  font-weight: bold;
}

.horizontal-box{
  display: flex;
  flex-direction: row;
}

.right-aligned{
  margin-left: auto; 
  margin-right: 0;

}
.space-between{
  display: flex;
  justify-content: space-between;
}

.bottom-aligned{
  margin-top: auto; 
  margin-bottom: 0;
 /* float:right   */
}

.vertical-box{
  display: flex;
  flex-direction: column;
}
#logo-region{
  width: 50%;
}
#page-selection{
  margin-left: 30%;
}

nav .page-selection-btn{ 
  border: 5px hidden;
  padding-top: 10%;
  background-color: white;
  color : #08050527;
}
nav .page-selection-btn:active,
nav .page-selection-btn:hover {
  border-top: 2px solid blue;
  color: blue;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.input-field {
  width:20%;
  padding: 10px;
  outline: none;
}

.icon {
  padding: 10px;
  padding-left: 5px;
  padding-right: 2px;
  background: #F2F2F2;
  color: black;
  min-width: 40px;
  text-align: center;
  border-top-left-radius   : 15px;
  border-bottom-left-radius: 15px
}

#sub-title{
  margin-bottom:0;
}

.under-title{
  margin-top : 0; 
  padding-top:5px;
  font-size: 90%;
  color: gray;
}

#submit-btn{
  background-color: rgb(0, 110, 255); 
  color: white; 
  padding: 10px 24px;
  border : none; 
  border-top-right-radius   : 15px;
  border-bottom-right-radius: 15px
}

header, body, footer, .page-selection-btn {
    font-family: 'Raleway';
}

.spacing-div{
  margin-top: 20px;
}

.filter-container{
  display: flex;
  border: 1px solid;
  border-radius: 30px;
  margin-left: 20px;
  padding-right:2px;
  margin-top : 10px;
}

.filter-container:hover {
  border-top: 1px solid blue;
  color: blue;
}
.flex-wrap{
  flex-wrap: wrap
}

.filter-icon{
  border-radius: 30px;
  color: blue;
  background: lightblue;
  margin-right: 2.5px;
}

.circled{ 
  /* border-radius: 50%; */
  padding: 20px;
}
.middled{
  text-align: center;
  vertical-align: middle;
}
.aligned{
  text-align: center;
}
.align-self-bottom{
  align-self: flex-end;
}
.paddled{
  padding-left: 10px;
  padding-right: 10px;
}
.paddled-top{
  padding-top: 10px;
}


.flex-wrap-margined-top{
  margin-top: 10px;
}
/* .row-gap{
  row-gap:20px
} */
#margined-top{    
  margin-top: 25px;
}

#hosts-container{
  width: 66%;
  border-radius:   30px;
}
#paddled-top-chart{
  margin-top: 8%;
}
#most-popular-container{
  width: 33%;
  height : auto;
  border-radius: 30px;
}
.fit-most-popular-container{
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 5px 0px 0px 5px;
  width: 50%;
  height: 142px;
}

.all-paddled{
  padding: 20px;
}
.gray-background{
  background-color: #F2F2F2;
} 
.row-gapped{
  row-gap: 20px;
}
.column-gapped{
  column-gap: 20px;
}
.side-margined{
  margin-left: 8%;
  margin-right: 8%;
}
.margined-left{
  margin-left: 3%;
}
.side-paddled{
  padding-left: 20px;
  padding-right: 20px;
}
.center-aligned{ /*ne fonctionne pas*/
  display: flex;
  align-self: center;
}
.right-aligned{
  justify-content: flex-end;
}
.space-between{
  justify-content: space-evenly;
}
.space-between-fix{
  height: 70px ;
}

.rating-margin-top{ /*fix*/
  margin-top: 60px; /*45% */
  /* align-items: flex-end; */
}

.host-card{ 
  padding : 10px;
  padding-bottom: 1px;
  width: 28%; 
  height: 200px ;
  background-color: white;
  border-radius: 30px;
}
.empty-star-icon{
  color:#DEEBFF
}
.star-icon{
  color: #0065FC;
}
.most-popular-card{
  width: auto;
  height: 150px ;
  background-color: white;
  border-radius: 5px 0px 0px 5px;
}

.inner-activities-container{
  width: 25%;
  height: 400px ;
}
.big-activity-card{
  box-shadow: -2px -3px 10px  gray;    
  width: 22%; 
  height: auto ;
  border-radius: 30px;
}
.medium-activity-card{
  box-shadow: -2px -3px 10px  gray;
  width: auto; 
  height: 54% ;
  border-radius: 30px;
}
.small-activity-card{
  box-shadow: -2px -3px 10px    gray;
  width: auto; 
  height: 41% ;
  border-radius: 30px;
}

.fit-container{    /*fix*/
  margin-top: -6px ;
  margin-left: -6px;
  width: 106%;
  max-height: 60%;
  border-radius : 30px ;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.actitity-card-fit-container{
  width: 100%;
  height:80%;
  border-radius : 20px 20px 0 0  ; 
}
.big-actitity-height{
  height: 92%;
}

.medium-actitity-height{
  height: 85%;
}

.small-actitity-height{
  height: 80%;
}

.footer-about{
  width: 25%;
  height: 200px;
  background-color: #F2F2F2;
}
.footer-our-hosts{
  width: 25%;
  height: 200px;
  background-color: #F2F2F2;
}
.footer-help{
  width: 25%;
  height:  200px;
  background-color: #F2F2F2;  
}
#footer-container{
  margin: 0 -9.5%;
}
#footer-spacing-div{
  margin-top: 5%;
}