.bold-text{
  font-weight: bold;
}

body{
  margin-left: 8%;
  margin-right: 8%;
}
/* @media screen and (min-width : 720px) {
  body{
    margin-left: 0%;
    margin-right: 0%;
  }
} */
.horizontal-box{
  display: flex;
  flex-direction: row;
}
.vertical-box{
  display: flex;
  flex-direction: column;
}
#logo-region{
  width: 50%;
}
#page-selection{
  margin-left: 30%;
}

nav .page-selection-btn{ 
  border: 5px hidden;
  padding-top: 10%;
  background-color: white;
  color : #08050527;
}
nav .page-selection-btn:active,
nav .page-selection-btn:hover {
  border-top: 2px solid blue;
  color: blue;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.input-field {
  width: 20%;
  padding: 10px;
  outline: none;
}

.icon {
  padding: 10px;
  padding-left: 5px;
  padding-right: 2px;
  background: #F2F2F2;
  color: black;
  min-width: 40px;
  text-align: center;
  border-top-left-radius   : 15px;
  border-bottom-left-radius: 15px
}

#sub-title{
  margin-bottom:0;
}

.under-title{
  margin-top : 0; 
  padding-top:5px;
  font-size: 90%;
  color: gray;
}

#submit-btn{
  background-color: rgb(0, 110, 255); 
  color: white; 
  padding: 10px 24px;
  border : none; 
  border-top-right-radius   : 15px;
  border-bottom-right-radius: 15px
}

header, body, footer, .page-selection-btn {
    font-family: 'Raleway';
}

.spacing-div{
  margin-top: 20px;
}

.filter-container{
  display: flex;
  border: 1px solid;
  border-radius: 30px;
  margin-left: 20px;
  padding-right:2px;
  margin-top : 10px;
}

.filter-container:hover {
  border-top: 1px solid blue;
  color: blue;
}
.flex-wrap{
  flex-wrap: wrap
}

.filter-icon{
  border-radius: 30px;
  color: blue;
  background: lightblue;
  margin-right: 2.5px;
}

.circled{ 
  /* border-radius: 50%; */
  padding: 20px;
}
.middled{
  text-align: center;
  vertical-align: middle;
}
.aligned{
  text-align: center;
}
.paddled{
  padding-left: 10px;
  padding-right: 10px;
}
.flex-wrap-margined-top{
  margin-top: 10px;
}
/* .row-gap{
  row-gap:20px
} */
#margined-top{    
  margin-top: 25px;
}

#hosts-container{
  width: 66%;
  border-radius:   30px;
}
#most-popular-container{
  width: 33%;
  border-radius: 30px;
}
.all-paddled{
  padding: 20px;
}
.gray-background{
  background-color: #F2F2F2;
} 
.row-gapped{
  row-gap: 20px;
}
.column-gapped{
  column-gap: 20px;
}
.side-margined{
  margin-left: 8%;
  margin-right: 8%;
}
.side-paddled{
  padding-left: 20px;
  padding-right: 20px;
}

/*.margined-left{
  margin-right: 25%;
}  */


.host-card{ 
  width: 31%; /* #TODO : décider pourcentages/px ??*/
  height: 200px ;
  background-color: lightblue;
  border-radius: 30px;
}

.most-popular-card{
  width: auto;
  height: 150px ;
  background-color: lightblue;
  border-radius: 30px;
}

.inner-activities-container{
  width: 25%;
}
.big-activity-card{
  width: 22%; 
  height: 400px ;
  background-color: rgb(126, 143, 148);
  border-radius: 30px;
}
.medium-activity-card{
  width: auto; 
  height: 66% ;
  background-color: rgb(126, 143, 148);
  border-radius: 30px;
}
.small-activity-card{
  width: auto; 
  height: 33% ;
  background-color: rgb(126, 143, 148);
  border-radius: 30px;
}

.fit-container{
  width: 100%;
  max-height: 60%;
  overflow: hidden;
  border-radius : 20px ;
}

.actitity-card-fit-container{
  width: 100%;
  max-height: 60%;
  overflow: hidden;
  border-radius : 20px ;
}

#footer-container{
  margin-left: 15%;
}

.footer-about{
  width: 33%;
  height: 200px;
  background-color: #F2F2F2;
}
.footer-our-hosts{
  width: 33%;
  height: 200px;
  background-color: #F2F2F2;
}
.footer-help{
  width: 33%;
  height:  200px;
  background-color: #F2F2F2;  
}
#footer-container{
  margin: 0 -9.5%;
}
#footer-spacing-div{
  margin-top: 5%;
}